
<h1>BOARD</h1>

<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'My Posts', post_mypost_path(id:"#{Post.where('user_id':current_user.id).first}"), :class => 'navbar-link' %> |
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  
<% else %>
  YOU SHOULD LOGIN TO UPLOAD IMAGES<br>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

<% if user_signed_in? %>
<div>
<!--  <form method="post" action="/posts/create">
    <input type="text" name="title" placeholder="제목"/>
    <input type="text" name="content" placeholder="내용"/>
    <input type="text" name="hashtags" placeholder="해시태그(,로구분)" />
    <input type="submit" value="게시글 작성 완료!"><br>
  </form>-->
  
  <%= form_tag(post_create_path(id:current_user.id), method: "post", multipart:true) do %>
    <%= text_field_tag :title, nil, placeholder: "TITLE"%>
    <%= text_field_tag :content, nil, placeholder: "CONTENT"%>
    <%= text_field_tag :hashtags,nil, placeholder: "HASHTAGS(,)"%>
    <%= file_field_tag "pic", accept:"image/*" %>
    <%= submit_tag 'SUBMIT!'%> 
  <% end %>
<h3>HASTAG SEARCH!(only one hashtag)</h3>
<!--  <form method="post" action="/posts/find">
    <input type="text" name="find_hash" placeholder="찾고싶은해시태그"/>
     <input type="submit" value="검색!"><br>
  </form>-->
  
  <%= form_tag(post_find_path,method:"post") do %>
  
  <%= text_field_tag :find_hash  %>
  <%= submit_tag 'Search!' %>
  
  <% end %>
  
</div>
<div>
  <h3>POSTS</h3>
  <% @posts.each do |post| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <!-- 게시글의 제목이 들어가는 부분 -->
           <%= post.title %>
        </h3>
      </div>
      <div class="panel-body">
        <!-- 게시글의 내용이 들어가는 부분 -->
        <%= image_tag post.img_url %><br>
        <%= post.content %> <br>
        
        
        
        <font color="gray">
        <% post.hashtags.each do |onetag| %>
          <%=onetag.name%>
        <%end%>
        </font>
            <br />
            <% if current_user.id == post.user_id %>
              <%= link_to 'EDIT', post_edit_path(id: post.id),method:"get" %> 
              <%=link_to 'DELETE',post_destroy_path(id: post.id), method: "get"  %>
               
             <% end %> 
           <!-- <a href="/posts/destroy/<%= post.id %>">삭제</a>-->
    

            <!-- 댓글다는 창이 있는 부분 -->
        <!--    <form action="/posts/<%= post.id %>/comments/create" method="post">
              <input type="text" name="content">
              <input type="submit" value="댓글달기!">
            </form>-->
            
            
            <%= form_tag(comment_create_path(post_id: post.id),method:"post") do %>
              <%= text_field_tag :content %>
              <%= submit_tag 'COMMENT!'%>
            <% end %>
            
            <br />
              <div>
                <!-- 댓글들이 보이는 부분 -->
                <ul class="list-group">
                  <% post.comments.each do |comment| %>
                    <li class="list-group-item"><%= comment.content %>
                   
                   <!-- <a href="/posts/<%= post.id %>/comments/destroy/<%= comment.id %>"><button>삭제</button></a>
                   -->
                    <% if current_user.id == post.user_id %>
                      <%= link_to 'DELETE',comment_destroy_path(post_id: post.id, id:comment.id)%>
                    <% end %>
                    </li>
                  <% end %>
              </div>
      </div>
    </div>
  <% end %>
</div>

<% end %>